<div class="post">
  <article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2>{{blogs.title}}</h2>
      <div>
        Posted by {{blogs.Blogger.username}} on {{ format_date blogs.createdAt}}
      </div>
    </div>
    <div class="card-body">
      {{blogs.body}}
    </div>
  </article>

  {{#if blogs.Comments.length}}
    <section class="card">
      <div class="card-header">
        <h2>Comments</h2>
      </div>

      <div class="card-body">
        {{#each blogs.Comments}}
          <div>
            <p>
              {{body}}
            </p>
            <p>
              &mdash; {{Blogger.username}}, <span>{{format_date createdAt}}</span>
            </p>
          </div>
        {{/each}}
      </div>
    </section>
  {{/if}}

  <form id="new-comment-form" class="card">
    <div class="card-header">
      <h2>Add New Comment</h2>
    </div>

    <div class="card-body">
      <input type="hidden" name="post-id" value="{{blogs.id}}" />

      <label class="form-label" for="comment-body">Comment</label>

      <textarea name="comment-body" class="form-input"></textarea>

      <button type="submit" class="btn">Submit</button>
    </div>
  </form>
</div>

<script src="/javascript/comment.js"></script>